@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proximanova-light-webfont.eot');
  src: url('../../proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('../../proximanova-light-webfont.woff') format('woff'), url('../../proximanova-light-webfont.ttf') format('truetype'), url('../../proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proximanova-lightitalic-webfont.eot');
  src: url('../../proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../../proximanova-lightitalic-webfont.woff') format('woff'), url('../../proximanova-lightitalic-webfont.ttf') format('truetype'), url('../../proximanova-lightitalic-webfont.svg#ProximaNovaLightItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proximanova-reg-webfont.eot');
  src: url('../../proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../../proximanova-reg-webfont.woff') format('woff'), url('../../proximanova-reg-webfont.ttf') format('truetype'), url('../../proximanova-reg-webfont.svg#ProximaNovaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proximanova-regitalic-webfont.eot');
  src: url('../../proximanova-regitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../../proximanova-regitalic-webfont.woff') format('woff'), url('../../proximanova-regitalic-webfont.ttf') format('truetype'), url('../../proximanova-regitalic-webfont.svg#ProximaNovaRegularItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proximanova-sbold-webfont.eot');
  src: url('../../proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'), url('../../proximanova-sbold-webfont.woff') format('woff'), url('../../proximanova-sbold-webfont.ttf') format('truetype'), url('../../proximanova-sbold-webfont.svg#ProximaNovaSemibold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proximanova-sbolditalic-webfont.eot');
  src: url('../../proximanova-sbolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../../proximanova-sbolditalic-webfont.woff') format('woff'), url('../../proximanova-sbolditalic-webfont.ttf') format('truetype'), url('../../proximanova-sbolditalic-webfont.svg#ProximaNovaSemiboldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proxima_nova_black-webfont.eot');
  src: url('../../proxima_nova_black-webfont.eot?#iefix') format('embedded-opentype'), url('../../proxima_nova_black-webfont.woff') format('woff'), url('../../proxima_nova_black-webfont.ttf') format('truetype'), url('../../proxima_nova_black-webfont.svg#ProximaNovaBlack') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proxima_nova_extrabold-webfont.eot');
  src: url('../../proxima_nova_extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../../proxima_nova_extrabold-webfont.woff') format('woff'), url('../../proxima_nova_extrabold-webfont.ttf') format('truetype'), url('../../proxima_nova_extrabold-webfont.svg#ProximaNovaExtrabold') format('svg');
  font-weight: 900;
  font-style: normal;
}
body,
html {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  background: #222;
  height: 100%;
  /* max-width: 800px;*/

  margin: 0 auto;
  overflow: hidden;
  -webkit-perspective: 1600px;
  -moz-perspective: 1600px;
  perspective: 1600px;
}
.container:after {
  box-shadow: inset 5px 5px 80px rgba(0, 0, 0, 0.8);
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.wrap {
  position: absolute;
  top: -60%;
  left: -10%;
  height: 300%;
  width: 200%;
  -webkit-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -o-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  transform: rotateX(20deg);
  -webkit-transform: rotateY(40deg);
  -moz-transform: rotateY(40deg);
  -o-transform: rotateY(40deg);
  -ms-transform: rotateY(40deg);
  transform: rotateY(40deg);
  -webkit-transform: rotateZ(-20);
  -moz-transform: rotateZ(-20);
  -o-transform: rotateZ(-20);
  -ms-transform: rotateZ(-20);
  transform: rotateZ(-20);
  z-index: 5;
}
.pattern {
  background-size: 500px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400%;
  -webkit-animation: scroll 200s linear infinite;
  -moz-animation: scroll 200s linear infinite;
  -o-animation: scroll 200s linear infinite;
  animation: scroll 200s linear infinite;
}
.pattern {
  background-image: url('http://thepatternlibrary.com/img/g.gif');
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes scroll{ 0%{ -webkit-transform: translate3d(0, 0, 0); } 100%{ -webkit-transform: translate3d(-4000px, 0, 0); }}
@-moz-keyframes scroll{ 0%{ -moz-transform: translate3d(0, 0, 0); } 100%{ -moz-transform: translate3d(-4000px, 0, 0); }}
@-o-keyframes scroll{ 0%{ -o-transform: translate3d(0, 0, 0); } 100%{ -o-transform: translate3d(-4000px, 0, 0); }}
@keyframes scroll{ 0%{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0); } 100%{-webkit-transform: translate3d(-4000px, 0, 0);-moz-transform: translate3d(-4000px, 0, 0);-ms-transform: translate3d(-4000px, 0, 0);transform: translate3d(-4000px, 0, 0); };
}
