/* 
Theme Name: Responsive Child Theme
Theme URI: http://cyberchimps.com/guide/child-theme-example/
Description: Responsive Child Theme
Template: responsive
Version: 1.0.0
Author: CyberChimps
Author URI: https://cyberchimps.com/
License: GNU General Public License
License URI: license.txt

*/


/* Mixins
-------------------------------------------------------------- */

@import "lesshat.less";

/* Mixins
-------------------------------------------------------------- */

@inactive-menu: #bbbdc0;
@active-menu: #404041;
@border-grey: #e6e7e8;


/* =Start From Here
-------------------------------------------------------------- */

body{
	background: white;
	font-family: "eausans_book", Arial, Helvetica;
	
}

#container{
	max-width: 1000px;
}




/* Fonts
-------------------------------------------------------------- */

@font-face {
    font-family: 'eausans_book';
    src: url('fonts/eau_sans_book-webfont.eot');
    src: url('fonts/eau_sans_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eau_sans_book-webfont.woff') format('woff'),
         url('fonts/eau_sans_book-webfont.ttf') format('truetype'),
         url('fonts/eau_sans_book-webfont.svg#eausans_book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eausans_book_oblique';
    src: url('fonts/eau_sans_book_obl-webfont.eot');
    src: url('fonts/eau_sans_book_obl-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eau_sans_book_obl-webfont.woff') format('woff'),
         url('fonts/eau_sans_book_obl-webfont.ttf') format('truetype'),
         url('fonts/eau_sans_book_obl-webfont.svg#eausans_book_oblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eausans_bold';
    src: url('fonts/eau_sans_bold-webfont.eot');
    src: url('fonts/eau_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eau_sans_bold-webfont.woff') format('woff'),
         url('fonts/eau_sans_bold-webfont.ttf') format('truetype'),
         url('fonts/eau_sans_bold-webfont.svg#eausans_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eausans_bold_oblique';
    src: url('fonts/eau_sans_bold_obl-webfont.eot');
    src: url('fonts/eau_sans_bold_obl-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eau_sans_bold_obl-webfont.woff') format('woff'),
         url('fonts/eau_sans_bold_obl-webfont.ttf') format('truetype'),
         url('fonts/eau_sans_bold_obl-webfont.svg#eausans_bold_oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Header
-------------------------------------------------------------- */

#header{
	padding: 50px 0px 25px 0px;
	border-bottom: 1px dotted @border-grey;
	display: inline-block;
	width: 100%;
}

.main-nav{
	float: right;
	clear: none;
	@media screen and (max-width: 800px) {
		margin-top: 25px;
		float: none;
	}
	@media screen and (max-width: 650px) {
		float: none;
		margin-top: 25px !important;
	}
}

#logo{
	float: left;
	@media screen and (max-width: 800px) {
		float: none;
		margin: 0px auto;
		text-align: center;
	}
}

.js{
	.main-nav{
		background: none;
		.menu li a{
			text-align: center;
		}
		#responsive_current_menu_item{
			background: white;
			background-image: none;
			.border-radius(5px);
			border: 1px solid @border-grey;
			color: @active-menu;
			font-weight: normal;
			font-family: 'eausans_bold';
			text-align: center;
			padding: 10px;
			margin: 10px;
		}
		a#responsive_menu_button{
			background: none;
		}
	}
}

/* Menu
-------------------------------------------------------------- */
ul{
	&.menu{
		background: none;
		li{
			&:hover{
				background: none;
			}
		}
		a{
			color: @inactive-menu;
			text-shadow: none;
			border: none;
			font-weight: normal;
			font-family: 'eausans_bold';
			&:hover{
				color: @active-menu;
				background: none;
				-webkit-transition-duration: 0.2s;
			}
		}
		.current_page_item, .current-menu-item{
			a{
				background: none;
				color: @active-menu;
			}
		}
	}

	.social_background{
		background-size: 20px 20px !important;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		color: transparent !important;
		width: 25px;
		padding: 0;
		opacity: 0.5;
		&:hover{
			opacity: 1;
		}
	}
	.li_twitter a{
		background-image: url("img/ic_twitter.png") !important;
		.social_background;
		margin-left: 25px;
	}
	.li_facebook a{
		background-image: url("img/ic_facebook.png") !important;
		.social_background;
	}
	.li_linkedin a{
		background-image: url("img/ic_linkedin.png") !important;
		.social_background;
	}
	.li_rss a{
		background-image: url("img/ic_rss.png") !important;
		.social_background;
	}
	
}

/* Body
-------------------------------------------------------------- */

#wrapper{
	border: none;
	margin: 0;
	padding: 0;
}

/* Media Queries
-------------------------------------------------------------- */
@media screen and (max-width: 800px) {
	.menu {
        text-align:center
    }
    .menu li {
        display:inline-block;
        float:none;
        margin-left: -5px;
    }
}
    
