// ------------------------------- Imports ------------------------------- //

@import "lesshat.less";
@import "fonts.less";

// ------------------------------- Mixins ------------------------------- //


// ------------------------------- Page ------------------------------- //

body,html {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  background: #222;
  height: 100%;
 /* max-width: 800px;*/
  margin: 0 auto;
  overflow: hidden;
  .perspective(1600);
}

.container:after {
  box-shadow: inset 5px 5px 80px rgba(0,0,0,.8);
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.wrap {
  position: absolute;
  top: -60%;
  left: -10%;
  height: 300%;
  width: 200%;
  .rotateX(20);
  .rotateY(40);
  .rotateZ(-20);
  z-index: 5;
}
.pattern {
  background-size: 500px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400%;
  .animation(scroll 200s linear infinite);
  
}


.pattern {
  background-image: url('http://thepatternlibrary.com/img/g.gif');
}

.keyframes(~'scroll, 0%{ transform: translate3d(0, 0, 0); } 100%{ transform: translate3d(-4000px, 0, 0); }');
