body{background:#00f}body .featured-subtitle{color:#00f}
.block{width:100%;background:#ffa500;border:10px solid #008000}
#featured{width:100%;background:#ffa500;border:10px solid #008000}
#home_widget_3{width:100%;background:#ffa500;border:10px solid #008000}
