@colour-red: blue;


body{
	background: @colour-red;
	.featured-subtitle{
		color: @colour-red;
	}
}

.block{
	width: 100%;
	background: orange;
	border: 10px solid green;
}

#featured{
	.block;
}

#home_widget_3{
	.block;
}