@import url('lesshat.less');

//---------------------- Mixins ----------------------//

@font-dark: #404041;
@font-medium: #808284;
@font-light: #BBBDC0;

@color-darkest: #212121;
@color-dark: #404041;
@color-medium: #808284;
@color-light: #BBBDC0;

//---------------------- Fonts ----------------------//

@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Pinyon+Script);

/*
font-family: 'Pinyon Script', cursive;
font-family: 'Libre Baskerville', serif;
*/

h1, h2, h3, h4, h5, h6{
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
}

p{
	font-family: 'Libre Baskerville', serif;
	font-weight: normal;
}

li{
	font-family: 'Libre Baskerville', serif;
}

input{
	font-family: 'Libre Baskerville', serif;
}

//---------------------- Global ----------------------//

#container {
	margin: 0 auto;
	max-width: none;
	padding: 0px;
	height: 100%;
}

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html, body{
	height: 100%;
}
//---------------------- Header ----------------------//

#header{
	background: white;
	padding: 0px 30px;
}

#logo{
	margin: 50px 50px 50px 0;
	a{
		img{
			height: 30px;
			opacity: 0.9;
		}
	}
}

//---------------------- Menu ----------------------//

.main-nav{
	float: right;
	clear: none;
	margin: 50px 0px 50px 50px;
	#menu-main-menu{
		float: right;
		&.menu{
			background: none;
		}
		li{
			&.current-menu-item a{
				background: none;
				color: @font-dark;
			}
			&:hover{
				background: none;
			}
			a{
				font-family: 'Libre Baskerville', serif;
				font-weight: normal;
				color: @font-light;
				text-shadow: none;
				border: 0;
				line-height: 30px;
				height: 30px;
				
				&:hover{
					color: @font-medium;
					background: none;
				}
			}
			.menu-social{
				width: 25px;
				background-size: 20px 20px;
				background-position: center center;
				background-repeat: no-repeat;
				opacity: 0.5;
				padding: 0;
				margin: 0;
				@media all and (max-width: 650px){
					display: none !important;
				}
				&:hover{
					opacity: 1;
				}
				a{
					color: transparent;
					padding: 0;
					margin: 0;
					
				}
			}
			&.menu-facebook{
				.menu-social;
				background-image: url("../images/menu/facebook.svg");
			}
			&.menu-twitter{
				.menu-social;
				background-image: url("../images/menu/twitter.svg");
			}
			&.menu-linkedin{
				.menu-social;
				background-image: url("../images/menu/linkedin.svg");
			}
			&.menu-rss{
				.menu-social;
				background-image: url("../images/menu/rss.svg");
			}
		}
	}
}

@media all and (max-width: 870px){
	.main-nav{
		margin: 0px auto 30px auto;
		display: block;
		float: none;
		text-align: center;
		#menu-main-menu{
			float: none;
			&.menu{
				text-align: center;
				li{
					display:inline-block;
					float:none;
				}
			}
		}
	}
	
	#logo{
		margin: 30px auto;
		display: block;
		float: none;
		text-align: center;
	}
}

@media all and (max-width: 650px){
		#responsive_current_menu_item{
			margin-bottom: 30px;
			background: @color-dark;
			
		}
		.main-nav{
			border-radius: 10px;
			#menu-main-menu{
				&.menu{
					li{
						display: block;
						a{
							text-align: center;
						}
					}
				}
			}
		}
		
		.js .main-nav #responsive_current_menu_item{
			border-radius: 2px;
		}
}

//---------------------- Body ----------------------//

body{
	background: @color-darkest;
	@media all and (max-width: 980px){background: white;}
}

@media all and (max-width: 980px){
	.grid{
		width: auto;
	}
}

#wrapper{
	padding: 0;
	margin: 0 auto;
	border-radius: 0;
	border: 0;
	background: none;
	height: 100%;
	.featured-image{
		width: 100%;
		height: 130px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	#content{
		padding: 0px 30px 60px 30px;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 30px;
		background: white;
		@media all and (max-width: 980px){
			margin: 30px;
			display: block;
			padding: 0;
		}
		hr{
			color: @color-medium;
		}
	}
	#widgets{
		margin-top: 0;
		padding: 30px 30px 30px 0px;
	}
}

//---------------------- Home ----------------------//

.page-template-template-home-php{
	#container{
		.calc(height, ~'100% - 130px');
		#wrapper{
			.home-image{
				width: 100%;
				height: 100%;
				overflow: auto;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
			}
			#content{
				background: none;
				margin-top: 15%;
				padding-bottom: 0;
				h1{
					color: white;
					font-family: 'Pinyon Script', cursive;
					font-weight: normal;
					font-size: 45px;
					text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
				}
				p{
					color: white;
					font-size: 15px;
					line-height: 1.7em;
					text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
					margin: 0;
				}
				a{
					background: rgba(0,0,0,0.75);
					padding: 15px 20px;
					margin-right: 10px;
					border-radius: 3px;
					color: white;
					display: inline-block;
					margin-top: 60px;
					&:hover{
						background: rgba(0,0,0,0.85);
					}
				}
			}
			#widgets{
				background: rgba(0,0,0,0.85);
				height: 100%;
				margin: 0;
				padding-left: 30px;
				@media all and (max-width: 980px){
					height: auto;
				}
			}
		}
	}
}

//---------------------- Blank ----------------------//

.page-template-template-blank-php{
	#container{
		.calc(height, ~'100% - 260px');
		#wrapper{
				
			#content{
				min-height: 100%;
			}
		}
	}	
}

//---------------------- Events ----------------------//

.page-template-template-events-php{
	#container{
		.calc(height, ~'100% - 260px');
		#wrapper{
				
			#content{
				min-height: 100%;
			}
		}
	}	
}

//---------------------- Contact ----------------------//

.page-template-template-contact-php{
	#container{
		.calc(height, ~'100% - 260px');
		#wrapper{
				
			#content{
				min-height: 100%;
			}
		}
	}	
}

//---------------------- Widgets ----------------------//

#wrapper{
	#widgets{
		@media all and (max-width: 980px){
			display: block;
			background: @color-darkest;
			padding: 30px;
			margin-bottom: 0;
		}
		.widget-wrapper{
			padding: 0;
			background: none;
			border: none;
			margin-bottom: 60px;
		}
		.widget_search{
			input{
				box-shadow: none;
				padding: 10px;
				border: none;
				line-height: inherit;
			}
		}
		.widget-title{
			h3{
				color: white;
				font-family: 'Pinyon Script', cursive;
				font-size: 30px;
			}
		}
		a{
			color: #00c4ff;
		}
		.rotatingtweets{
			.rtw_name a{
				font-size: 16px;
				color: white;
				font-family: 'Libre Baskerville', serif;
			}
			.rtw_id a{
				font-size: 14px;
				font-weight: bold;
			}
			.rtw_icon a img{
				max-width: 40px;
				max-height: 40px;
				border-radius: 3px;
			}
			p.rtw_main{
				color: white;
			}
		}
	}
}