@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Pinyon+Script);
/*
font-family: 'Pinyon Script', cursive;
font-family: 'Libre Baskerville', serif;
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}
p {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
}
li {
  font-family: 'Libre Baskerville', serif;
}
input {
  font-family: 'Libre Baskerville', serif;
}
#container {
  margin: 0 auto;
  max-width: none;
  padding: 0px;
  height: 100%;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  height: 100%;
}
#header {
  background: white;
  padding: 0px 30px;
}
#logo {
  margin: 50px 50px 50px 0;
}
#logo a img {
  height: 30px;
  opacity: 0.9;
}
.main-nav {
  float: right;
  clear: none;
  margin: 50px 0px 50px 50px;
}
.main-nav #menu-main-menu {
  float: right;
}
.main-nav #menu-main-menu.menu {
  background: none;
}
.main-nav #menu-main-menu li.current-menu-item a {
  background: none;
  color: #404041;
}
.main-nav #menu-main-menu li:hover {
  background: none;
}
.main-nav #menu-main-menu li a {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
  color: #bbbdc0;
  text-shadow: none;
  border: 0;
  line-height: 30px;
  height: 30px;
}
.main-nav #menu-main-menu li a:hover {
  color: #808284;
  background: none;
}
.main-nav #menu-main-menu li .menu-social {
  width: 25px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}
@media all and (max-width: 650px) {
  .main-nav #menu-main-menu li .menu-social {
    display: none !important;
  }
}
.main-nav #menu-main-menu li .menu-social:hover {
  opacity: 1;
}
.main-nav #menu-main-menu li .menu-social a {
  color: transparent;
  padding: 0;
  margin: 0;
}
.main-nav #menu-main-menu li.menu-facebook {
  width: 25px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  background-image: url("../images/menu/facebook.svg");
}
@media all and (max-width: 650px) {
  .main-nav #menu-main-menu li.menu-facebook {
    display: none !important;
  }
}
.main-nav #menu-main-menu li.menu-facebook:hover {
  opacity: 1;
}
.main-nav #menu-main-menu li.menu-facebook a {
  color: transparent;
  padding: 0;
  margin: 0;
}
.main-nav #menu-main-menu li.menu-twitter {
  width: 25px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  background-image: url("../images/menu/twitter.svg");
}
@media all and (max-width: 650px) {
  .main-nav #menu-main-menu li.menu-twitter {
    display: none !important;
  }
}
.main-nav #menu-main-menu li.menu-twitter:hover {
  opacity: 1;
}
.main-nav #menu-main-menu li.menu-twitter a {
  color: transparent;
  padding: 0;
  margin: 0;
}
.main-nav #menu-main-menu li.menu-linkedin {
  width: 25px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  background-image: url("../images/menu/linkedin.svg");
}
@media all and (max-width: 650px) {
  .main-nav #menu-main-menu li.menu-linkedin {
    display: none !important;
  }
}
.main-nav #menu-main-menu li.menu-linkedin:hover {
  opacity: 1;
}
.main-nav #menu-main-menu li.menu-linkedin a {
  color: transparent;
  padding: 0;
  margin: 0;
}
.main-nav #menu-main-menu li.menu-rss {
  width: 25px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  background-image: url("../images/menu/rss.svg");
}
@media all and (max-width: 650px) {
  .main-nav #menu-main-menu li.menu-rss {
    display: none !important;
  }
}
.main-nav #menu-main-menu li.menu-rss:hover {
  opacity: 1;
}
.main-nav #menu-main-menu li.menu-rss a {
  color: transparent;
  padding: 0;
  margin: 0;
}
@media all and (max-width: 870px) {
  .main-nav {
    margin: 0px auto 30px auto;
    display: block;
    float: none;
    text-align: center;
  }
  .main-nav #menu-main-menu {
    float: none;
  }
  .main-nav #menu-main-menu.menu {
    text-align: center;
  }
  .main-nav #menu-main-menu.menu li {
    display: inline-block;
    float: none;
  }
  #logo {
    margin: 30px auto;
    display: block;
    float: none;
    text-align: center;
  }
}
@media all and (max-width: 650px) {
  #responsive_current_menu_item {
    margin-bottom: 30px;
    background: #404041;
  }
  .main-nav {
    border-radius: 10px;
  }
  .main-nav #menu-main-menu.menu li {
    display: block;
  }
  .main-nav #menu-main-menu.menu li a {
    text-align: center;
  }
  .js .main-nav #responsive_current_menu_item {
    border-radius: 2px;
  }
}
body {
  background: #212121;
}
@media all and (max-width: 980px) {
  body {
    background: white;
  }
}
@media all and (max-width: 980px) {
  .grid {
    width: auto;
  }
}
#wrapper {
  padding: 0;
  margin: 0 auto;
  border-radius: 0;
  border: 0;
  background: none;
  height: 100%;
}
#wrapper .featured-image {
  width: 100%;
  height: 130px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#wrapper #content {
  padding: 0px 30px 60px 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  background: white;
}
@media all and (max-width: 980px) {
  #wrapper #content {
    margin: 30px;
    display: block;
    padding: 0;
  }
}
#wrapper #content hr {
  color: #808284;
}
#wrapper #widgets {
  margin-top: 0;
  padding: 30px 30px 30px 0px;
}
.page-template-template-home-php #container {
  -lh-property: 0;
height:-webkit-calc(100% - 130px);
height:-moz-calc(100% - 130px);
height:calc(100% - 130px);
;
}
.page-template-template-home-php #container #wrapper .home-image {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.page-template-template-home-php #container #wrapper #content {
  background: none;
  margin-top: 15%;
  padding-bottom: 0;
}
.page-template-template-home-php #container #wrapper #content h1 {
  color: white;
  font-family: 'Pinyon Script', cursive;
  font-weight: normal;
  font-size: 45px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}
.page-template-template-home-php #container #wrapper #content p {
  color: white;
  font-size: 15px;
  line-height: 1.7em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  margin: 0;
}
.page-template-template-home-php #container #wrapper #content a {
  background: rgba(0, 0, 0, 0.75);
  padding: 15px 20px;
  margin-right: 10px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin-top: 60px;
}
.page-template-template-home-php #container #wrapper #content a:hover {
  background: rgba(0, 0, 0, 0.85);
}
.page-template-template-home-php #container #wrapper #widgets {
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
  margin: 0;
  padding-left: 30px;
}
@media all and (max-width: 980px) {
  .page-template-template-home-php #container #wrapper #widgets {
    height: auto;
  }
}
.page-template-template-blank-php #container {
  -lh-property: 0;
height:-webkit-calc(100% - 260px);
height:-moz-calc(100% - 260px);
height:calc(100% - 260px);
;
}
.page-template-template-blank-php #container #wrapper #content {
  min-height: 100%;
}
.page-template-template-events-php #container {
  -lh-property: 0;
height:-webkit-calc(100% - 260px);
height:-moz-calc(100% - 260px);
height:calc(100% - 260px);
;
}
.page-template-template-events-php #container #wrapper #content {
  min-height: 100%;
}
.page-template-template-contact-php #container {
  -lh-property: 0;
height:-webkit-calc(100% - 260px);
height:-moz-calc(100% - 260px);
height:calc(100% - 260px);
;
}
.page-template-template-contact-php #container #wrapper #content {
  min-height: 100%;
}
@media all and (max-width: 980px) {
  #wrapper #widgets {
    display: block;
    background: #212121;
    padding: 30px;
    margin-bottom: 0;
  }
}
#wrapper #widgets .widget-wrapper {
  padding: 0;
  background: none;
  border: none;
  margin-bottom: 60px;
}
#wrapper #widgets .widget_search input {
  box-shadow: none;
  padding: 10px;
  border: none;
  line-height: inherit;
}
#wrapper #widgets .widget-title h3 {
  color: white;
  font-family: 'Pinyon Script', cursive;
  font-size: 30px;
}
#wrapper #widgets a {
  color: #00c4ff;
}
#wrapper #widgets .rotatingtweets .rtw_name a {
  font-size: 16px;
  color: white;
  font-family: 'Libre Baskerville', serif;
}
#wrapper #widgets .rotatingtweets .rtw_id a {
  font-size: 14px;
  font-weight: bold;
}
#wrapper #widgets .rotatingtweets .rtw_icon a img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 3px;
}
#wrapper #widgets .rotatingtweets p.rtw_main {
  color: white;
}
