// ------------------------------- Imports ------------------------------- //

@import "lesshat.less";
@import "fonts.less";

// ------------------------------- Mixins ------------------------------- //

.padmarreset{
	padding: 0;
	margin: 0;
}

@c-header: #2e2e2e;
@c-main: #191919;
@c-footer: #2e2e2e;
@c-link: white;
@c-font: #2e2e2e;

// ------------------------------- Fonts ------------------------------- //

h1, h2, h3, h4, h5, h6{
	
}

// ------------------------------- Page ------------------------------- //

*{
	box-sizing: border-box;
	overflow: auto;
}

html{
	-webkit-font-smoothing: antialiased;
	font-family: 'Proxima Nova', sans-serif;
	background: @c-header;
}

body{
	.padmarreset;
	header{
		background: @c-header;
		text-align: center;
		color: white;
		padding: 40px;
		&.head-amanda{
			background-image: url("../../img/bg_amanda.jpg");
			background-size: cover;
			background-position: center center;
		}
		h1{
			font-size: 30px;
			.padmarreset;
		}
		h2{
			font-size: 18px;
			font-weight: normal;
			.padmarreset;
		}
		h3{
			.padmarreset;
			margin-top: 20px;
		}
		img{
			&.logo{
				text-align: center;
				width: 150px;
				margin-bottom: 20px;
			}
		}
		hr{
			margin: 20px 0;
			opacity: 0.1;
		}
		.sociallinks{
			display: table;
			margin: 0 auto;
			ul{
				list-style: none;
				width: 100%;
				.padmarreset;
				li{
					display:inline;
					margin: 0px 5px;
					img{
						height: 30px;
						.transition (all 0.2s ease-in-out);
						&:hover{
							opacity: 0.5;
						}
					}
				}
			}
		}
		.rd{
			padding: 20px 30px;
			border-radius: 5px;
			border: 1px solid white;
			margin: 5px;
			display: block;
			}
	}
	main{
		background: @c-main;
		background-image: url("../../img/bg.png");
		text-align: center;
		padding: 40px;
		color: @c-font;
		p{
			line-height: 1.3em;
		}
	}
	footer{
		background: @c-footer;
		padding: 40px;
		text-align: center;
	}
	a{
		color: @c-link;
		text-decoration: none;
		.transition (all 0.2s ease-in-out);
		&:hover{
			opacity: 0.5;
		}
	}
}

