@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proximanova-light-webfont.eot');
  src: url('../../proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('../../proximanova-light-webfont.woff') format('woff'), url('../../proximanova-light-webfont.ttf') format('truetype'), url('../../proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proximanova-lightitalic-webfont.eot');
  src: url('../../proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../../proximanova-lightitalic-webfont.woff') format('woff'), url('../../proximanova-lightitalic-webfont.ttf') format('truetype'), url('../../proximanova-lightitalic-webfont.svg#ProximaNovaLightItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proximanova-reg-webfont.eot');
  src: url('../../proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../../proximanova-reg-webfont.woff') format('woff'), url('../../proximanova-reg-webfont.ttf') format('truetype'), url('../../proximanova-reg-webfont.svg#ProximaNovaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proximanova-regitalic-webfont.eot');
  src: url('../../proximanova-regitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../../proximanova-regitalic-webfont.woff') format('woff'), url('../../proximanova-regitalic-webfont.ttf') format('truetype'), url('../../proximanova-regitalic-webfont.svg#ProximaNovaRegularItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proximanova-sbold-webfont.eot');
  src: url('../../proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'), url('../../proximanova-sbold-webfont.woff') format('woff'), url('../../proximanova-sbold-webfont.ttf') format('truetype'), url('../../proximanova-sbold-webfont.svg#ProximaNovaSemibold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proximanova-sbolditalic-webfont.eot');
  src: url('../../proximanova-sbolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../../proximanova-sbolditalic-webfont.woff') format('woff'), url('../../proximanova-sbolditalic-webfont.ttf') format('truetype'), url('../../proximanova-sbolditalic-webfont.svg#ProximaNovaSemiboldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proxima_nova_black-webfont.eot');
  src: url('../../proxima_nova_black-webfont.eot?#iefix') format('embedded-opentype'), url('../../proxima_nova_black-webfont.woff') format('woff'), url('../../proxima_nova_black-webfont.ttf') format('truetype'), url('../../proxima_nova_black-webfont.svg#ProximaNovaBlack') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../proxima_nova_extrabold-webfont.eot');
  src: url('../../proxima_nova_extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../../proxima_nova_extrabold-webfont.woff') format('woff'), url('../../proxima_nova_extrabold-webfont.ttf') format('truetype'), url('../../proxima_nova_extrabold-webfont.svg#ProximaNovaExtrabold') format('svg');
  font-weight: 900;
  font-style: normal;
}
.padmarreset {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  overflow: auto;
}
html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Proxima Nova', sans-serif;
  background: #2e2e2e;
}
body {
  padding: 0;
  margin: 0;
}
body header {
  background: #2e2e2e;
  text-align: center;
  color: white;
  padding: 40px;
}
body header.head-amanda {
  background-image: url("../../img/bg_amanda.jpg");
  background-size: cover;
  background-position: center center;
}
body header h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}
body header h2 {
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
body header h3 {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
body header img.logo {
  text-align: center;
  width: 150px;
  margin-bottom: 20px;
}
body header hr {
  margin: 20px 0;
  opacity: 0.1;
}
body header .sociallinks {
  display: table;
  margin: 0 auto;
}
body header .sociallinks ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
body header .sociallinks ul li {
  display: inline;
  margin: 0px 5px;
}
body header .sociallinks ul li img {
  height: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body header .sociallinks ul li img:hover {
  opacity: 0.5;
}
body header .rd {
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid white;
  margin: 5px;
  display: block;
}
body main {
  background: #191919;
  background-image: url("../../img/bg.png");
  text-align: center;
  padding: 40px;
  color: #2e2e2e;
}
body main p {
  line-height: 1.3em;
}
body footer {
  background: #2e2e2e;
  padding: 40px;
  text-align: center;
}
body a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body a:hover {
  opacity: 0.5;
}
